extends layout

block prepend addHeaders

block content
    .container
        h1= title
        p Welcome to #{title}

        p.bg-info
          | Welcome to the sample tutorials!
          br
          | This is a multiline paragraph tag.
