//
//  @Author: Sunil bn <sunhick@gmail.com>
//
//  Copyright (c) 2016. University of Colorado, boulder
//
doctype html
html
  head
    title YPod
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/bower_components/angular/angular.min.js')
    script(type='text/javascript', src='/bower_components/angular-route/angular-route.min.js')
    script(type='text/javascript', src='/javascripts/module.js')
    script(type='text/javascript', src='/filters/urlFilter.js')
    script(type='text/javascript', src='/javascripts/mainController.js')

    // add additional headers if required
    block addHeaders
  body(ng-cloak ng-app="testApp")
    .container-fluid
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Y-POD

           #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav(ng-controller = "mainController as mainCtrl")
                      li(ng-repeat="headerMenu in mainCtrl.headerMenus" ng-class="{active : mainCtrl.activeMenu == headerMenu.name}")
                        a(ng-href="{{ headerMenu.link | urlFilter }}" ng-click="mainCtrl.activate($index)")
                          span(ng-class="'{{headerMenu.glyphicon}}'")
                            |  {{headerMenu.name}}
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href="signup") 
                        span.glyphicon.glyphicon-log-in
                        |  Login
    block content
    .footer.navbar-fixed-bottom
        .container.text-center
            p.text-muted.credit
                span.glyphicon.glyphicon-copyright-mark
                |  2016. All rights reserved. University of Colorado, Boulder
