extends layout

block content
  script(type="text/javascript", src='/javascripts/loginController.js')
  .container(ng-controller="loginController as loginCtrl")
    .row
      .col-md-4.col-sm-6.col-xs-6
        h1 Login with Email Id
        form#login-form(role='form', ng-model="login" action='javascript:;', method='post', autocomplete='off')
          .form-group
            label.sr-only(for='email') Email
            input#email.form-control(type='email', ng-model="login.email", name='email', placeholder='somebody@example.com')
          .form-group
            label.sr-only(for='key') Password
            input#key.form-control(type='password',ng-model="login.pword" name='key', placeholder='Password')
          .checkbox
            span.character-checkbox(onclick='showPassword()')
            span.label Show password
          input#btn-login.btn.btn-primary.btn-lg.btn-block(type='submit', value='Log in', ng-click="loginCtrl.Submit(login)")
        a.forget(href='javascript:;', data-toggle='modal', data-target='.forget-modal') Forgot your password?